*{
	box-sizing: border-box;
}
body{
	background-color: #fff;
}
h1{
	margin-bottom: 17px;
	text-align: center;
	color: darkblue;
	font-size: 50px;
}
section{
	position: relative;
	padding:15px;
	width: 90%;
}
p{
	position: relative;
	clear: right;
}
div{
	position: relative;
	background-color: skyblue;
	border: 2px solid black;
	border-radius: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
.tab1{
	color: blue;
	text-align: center;
	width:100px;
	padding:5px;
	margin:-3px -3px 0px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 125%;
	font-weight: bold;
	background-color: yellow;
}
.tab2{
	color: black;
	text-align: center;
	margin:-3px -3px 0px;
	width:100px;
	padding:5px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 125%;
	font-weight: bold;
	background-color: sandybrown;
}
.tab3{
	color: #fff;
	text-align: center;
	width:100px;
	padding:5px;
	margin:-3px -3px 0px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 125%;
	font-weight: bold;
	background-color: rosybrown;
}
.des{
	padding: 5px;
	border: none;
	background-color: grey;
	font-family: Helvetica;
	color: black;
	margin:3px;
	height: 150px;
	overflow: auto;
}
.row{
	width: 90%;
}
/*deskyop*/
@media (min-width:992px)
{
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
}
/*tablet version*/
@media (min-width:768px) and (max-width:991px){
	.col-md-6{
		float:left;
		width:50%;
		margin-left: auto;
		margin-right: auto;
	}
	.col-md-12{
		float:left;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
/*mobile version*/
@media (max-width:767px){
	.col-sm-12{
		float:lefty;
		width: 100%;
	}
}























